---
- name: End play if no tag applied.
  when: ansible_run_tags | difference(['all']) | length == 0
  tags: always
  block:

    - name: Display ansible_run_tags.
      ansible.builtin.debug:
        var: ansible_run_tags

    - name: Display message.
      ansible.builtin.debug:
        msg: |
          A tag is mandatory. End of play.
          List of tags:
            {{ gcp_known_tags | to_nice_yaml(indent=2) | indent(2) }}

    - name: End play.
      ansible.builtin.meta: end_play

- name: End play if unkown tag(s).
  when: unknown_tags | length > 0
  vars:
    unknown_tags: "{{ ansible_run_tags | difference(gcp_known_tags) }}"
  tags: always
  block:

    - name: Display ansible_run_tags.
      ansible.builtin.debug:
        var: ansible_run_tags

    - name: Display message.
      ansible.builtin.debug:
        msg: |
          Unknown tag(s): {{ unknown_tags }}. End of play.

    - name: End play.
      ansible.builtin.meta: end_play
