---
- name: Info instance.
  tags: [info, info-instance]
  block:

    - name: Gather info for GCP Instances.
      register: instance
      google.cloud.gcp_compute_instance_info:
        auth_kind: serviceaccount
        service_account_file: "{{ gcp_service_account_file }}"
        zone: "{{ gcp_zone }}"
        project: "{{ gcp_project }}"

    - name: Debug instance.
      when: gcp_debug | bool
      ansible.builtin.debug:
        var: instance

    - name: Display instance selected info.
      ansible.builtin.debug:
        msg: |
          {{ gcp_project }} {{ gcp_zone }}
          {% if instance.resources | d([]) | length == 0 %}
          (none)
          {% else %}
          {% for i in instance.resources %}
          {{ i.id }} {{ i.name }} {{ i.status }}
          {% endfor %}
          {% endif %}

- name: Info disk.
  tags: [info, info-disk]
  block:

    - name: Gather info for GCP Disks.
      register: disk
      google.cloud.gcp_compute_disk_info:
        auth_kind: serviceaccount
        service_account_file: "{{ gcp_service_account_file }}"
        zone: "{{ gcp_zone }}"
        project: "{{ gcp_project }}"

    - name: Debug disk.
      when: gcp_debug | bool
      ansible.builtin.debug:
        var: disk

    - name: Display disk selected info.
      ansible.builtin.debug:
        msg: |
          {{ gcp_project }} {{ gcp_zone }}
          {% if disk.resources | d([]) | length == 0 %}
          (none)
          {% else %}
          {% for i in disk.resources %}
          {{ i.id }} {{ i.name }} {{ i.status }}
          {% endfor %}
          {% endif %}

- name: Info network.
  tags: [info, info-network]
  block:

    - name: Gather info for GCP Networks.
      register: network
      google.cloud.gcp_compute_network_info:
        auth_kind: serviceaccount
        service_account_file: "{{ gcp_service_account_file }}"
        project: "{{ gcp_project }}"

    - name: Debug network.
      when: gcp_debug | bool
      ansible.builtin.debug:
        var: network

    - name: Display network selected info.
      ansible.builtin.debug:
        msg: |
          {{ gcp_project }}
          {% if network.resources | d([]) | length == 0 %}
          (none)
          {% else %}
          {% for i in network.resources %}
          {{ i.id }} {{ i.name }} {{ i.kind }}
          {% endfor %}
          {% endif %}

- name: Info subnetwork.
  tags: [info, info-subnetwork]
  block:

    - name: Gather info for GCP Subnetworks.
      register: subnetwork
      google.cloud.gcp_compute_subnetwork_info:
        auth_kind: serviceaccount
        service_account_file: "{{ gcp_service_account_file }}"
        project: "{{ gcp_project }}"
        region: "{{ gcp_region }}"

    - name: Debug subnetwork.
      when: gcp_debug | bool
      ansible.builtin.debug:
        var: subnetwork

    - name: Display subnetwork selected info.
      ansible.builtin.debug:
        msg: |
          {{ gcp_project }} {{ gcp_region }}
          {% if subnetwork.resources | d([]) | length == 0 %}
          (none)
          {% else %}
          {% for i in subnetwork.resources %}
          {{ i.id }} {{ i.name }} {{ i.ipCidrRange }} {{ i.gatewayAddress }}
          {% endfor %}
          {% endif %}
